---
import QuestionnaireIframe from "../components/iframe.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<div class="bg-rose-50/60">
  <BaseLayout pageTitle={"Dynamic Questionnaire"}>
    <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-32 relative">
      <QuestionnaireIframe />
    </div>
  </BaseLayout>
</div>
