---
const { cookies } = Astro;
const userCookie = cookies.get("user-id");
const userId = userCookie ? userCookie.value : null;

const flaskAppUrl = `http:localhost:5000/?user_id=${userId}`;
---

{
  userId ? (
    <iframe
      src={flaskAppUrl}
      width="100%"
      height="1200"
      frameborder="0"
      allow="fullscreen"
    />
  ) : (
    <p>Loading...</p>
  )
}
